* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

div {
    margin-top: 20rem;
    margin-left: 30rem;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 16px;
    background-color: #28CBBC;
    color: white;
}